<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">
</head>
<body>
  <!-- action='<url>' -->
  <%- include('navbar.ejs') %>
  <div class="detail-bg">
      <h4><%= title %></h4>
      <p> <%= id%></p>
      <p><%= content %></p>
  </div> 
  <button id="modifyBtn">수정하기</button>
  <button id="deleteBtn">삭제하기</button>
  <script>
    document.getElementById('modifyBtn').addEventListener('click', function() {
        window.location.href = '/modify/<%=id%>';
    });

    document.getElementById('deleteBtn').addEventListener('click', async () => {
      const response = await fetch('/delete?id=<%=id%>', {
        method : 'DELETE',
        headers : { 'Content-Type' : 'application/json' },
      })
      if (response.ok) {
        window.location.href = '/list'
      }
    });
  </script>

</body>
</html>